{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <section class="articles">
        <articles>
            <h2>Titre de l'article</h2>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Voici les informations concernant la voiture</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </articles>
        <articles>
            <h2>Titre de l'article</h2>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Voici les informations concernant la voiture</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </articles>
        <articles>
            <h2>Titre de l'article</h2>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Voici les informations concernant la voiture</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </articles>
    </section>
{% endblock %}
