{% extends 'base.html.twig' %}

{% block body %}
    <articles>
            <h2>Titre de l'article</h2>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Voici les informations concernant la voiture</p>
                <hr>
                <ul>
                    <li>
                        <p>Marque : </p>
                    </li>
                    <li>
                        <p>Modèle : </p>
                    </li>
                    <li>
                        <p>Prix : </p>
                    </li>
                </ul>
            </div>
        </articles>
{% endblock %}